<section class="header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>
<div class="container">
    <div class="wrapper col-md-8.col-md-offset-2.col-sm-10">
      <h2>Facebookを使うと、友達や同僚、同級生、仲間たちとつながりを深められます。ケータイ、スマートフォンからもアクセスできます。</h2>
        <%= image_tag 'fbtop.png'%>
    </div>
</div>
