/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  width: 120%;
  background-color:#3B5998;
  height: 70px;
  text-align: center;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  text-align: center;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}


footer {
  width: 100%;
  background-color:#3B5998;
  padding: 0px 0px;
  color: #E9EBEE;
  font-size: 13px;
  position: absolute;
  bottom:0;
  text-align: center;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-color:#E9EBEE;
}
